<a href="https://colab.research.google.com/github/K04-Matsu/K04-Matsu/blob/main/Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Programming exercise
Writing a program that calculates the addition of all interger number from 0 to 2021. \\
The arithmetic sequence will be used for our calculation program. \\
*sum=1/2*n(1+n)*

In [ ]:
start_num = 0
end_num = 2021

n = end_num - start_num

result = n*(1+n)/2

print("The result is",result)

In [ ]:
x = int(input("Enter a integer"))

y = 2*(x+3)-3

print(y)

Enter a integer3
9

In [1]:

first = input("Your first name ")
last = input("Your last name ")
grade = int(input("Your grade "))
year = (2034 - grade)

print(f"{year}.{first}.{last}@uwcisak.jp")

Your first name kojiro
Your last name matsumoto
Your grade 11
2023.kojiro.matsumoto@uwcisak.jp